.nepSchedule-nepDisplayWrapper {
    & .nepSchedule-nepDisplayNep {
        justify-content: center;
        bottom: -20px;
        right: 0;

        & img {
            height: 60vh;
            bottom: min(0vw, 30px);
            max-width: max(auto, 98vw);
            width: auto;
            filter: drop-shadow(0px 0px 20px #f9eca1);

            &.nepSchedule-leaving {
                bottom: -60vh;
            }
        }
    }

    @media screen and (orientation: portrait) and (min-height: 600px) {
        & .nepSchedule-nepDisplayNep {
            display: flex;
        }
    }

    @media screen and (min-width: 920px) and (min-height: 700px) {
        & .nepSchedule-nepDisplayNep {
            display: flex;

            & img {
                height: 50vh;
                max-width: none;
                bottom: min(0vw, -20px);

                &.nepSchedule-leaving {
                    bottom: -50vh;
                }
            }
        }
    }

    @media screen and (min-width: 920px) and (min-height: 1000px) {
        & .nepSchedule-nepDisplayNep {
            & img {
                height: 60vh;
                max-width: none;
                bottom: min(0vw, -20px);

                &.nepSchedule-leaving {
                    bottom: -60vh;
                }
            }
        }
    }
}

main:has(.nepSchedule-nepPullUpDrawerWrapper) .nepSchedule-scheduleWrapper::after {
    content: '';
    height: 60px;
}

@media screen and (min-width: 920px) and (min-height: 780px) {
    .nepSchedule-scheduleWrapper {
        padding: 0 3vw 1rem 3vw;
        width: calc(100% - 6vw);
    }

    .nepSchedule-nepPullUpDrawerWrapper {
        width: 100%;
        margin: 0 auto;
        bottom: 0;
    }
}
