@import './nepSchedule.css';

body {
    box-shadow: inset 0px 0px 100px rgba(249, 236, 161, 0.3);
    height: 100vh;
}

#nepApp::before {
    background-image: url(/assets/images/site/summerbackgroundvertical.webp);
}

@media screen and (min-width: 920px) {
    #nepApp::before {
        background-image: url(/assets/images/site/summerbackground.webp);
    }
}
