:root {
    --nepSweeper-sprite-sheet: url(/assets/images/nepsweeper/original2.gif);
    --nepSweeper-sprite-sheet-background: #bdbdbd;
    --nepSweeper-zoomLevel: scale(1) translate(-50%, -50%);
}

#nepSweeper-gameWrapper {
    position: fixed;
    top: 57%;
    left: 50%;
    transform: var(--nepSweeper-zoomLevel);
}

#nepSweeper-optionsWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto 4% auto;
    padding: 0.5em 0.5em;
    border-radius: 1em;
    background-color: #2c1406;
    border: 3px solid #dcbb89;
    width: 50%;
    min-width: 511px;
    max-width: 600px;

    & select {
        background-color: #2c1406;
        border: 3px solid #dcbb89;
        border-radius: 1em;
        padding: 0.5em;
        animation: var(--animation-cursor-pointer);
    }

    & button {
        background-color: #2c1406;
        border: 3px solid #dcbb89;
        border-radius: 1em;
        padding: 0.5em;
        animation: var(--animation-cursor-pointer);
    }
}

.nepSweeper-gameContainer {
    background: var(--nepSweeper-sprite-sheet-background);
    margin: 0 auto;
}

#nepSweeper-leaderBoardWrapper {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
    height: 50%;
    padding: 89px 89px 0 89px;
    background-color: #fff;
    z-index: 200;
    border: 0px solid black;
    border-image-source: url(/assets/images/site/frame.webp);
    border-image-slice: 321 321 106 325;
    border-image-width: 321px 321px 106px 325px;
    border-image-repeat: repeat;
    background-image: url(/assets/images/site/seamlessbackground.png);
    background-repeat: repeat;
}

#nepSweeper-leaderBoardWrapper * {
    font-size: calc(0.8vw + 0.8vh);
}

.nepSweeper-leaderBoardScoresWrapper {
    display: flex;
    justify-content: space-evenly;
}

.nepSweeper-leaderBoardList {
    padding-left: 20px;
}

.nepSweeper-leaderBoardDifficultyWrapper {
    margin-right: 0.5vw;
}

.gameSprite1 {
    float: left;
    background-image: var(--nepSweeper-sprite-sheet);
    margin: 0;
    line-height: 0;
    font-size: 0;
    width: 16px;
    height: 16px;

    &.topLeftCornerBorder {
        background-position: 0 -81px;
        width: 10px;
        height: 10px;
    }

    &.topRightCornerBorder {
        background-position: -10px -81px;
        width: 10px;
        height: 10px;
    }

    &.bottomLeftCornerBorder {
        background-position: -20px -81px;
        width: 10px;
        height: 10px;
    }

    &.bottomRightCornerBorder {
        background-position: -30px -81px;
        width: 10px;
        height: 10px;
    }

    &.leftConnectionBorder {
        background-position: -66px -81px;
        width: 10px;
        height: 10px;
    }

    &.rightConnectionBorder {
        background-position: -56px -81px;
        width: 10px;
        height: 10px;
    }

    &.horizontalBorder {
        background-position: -40px -81px;
        height: 10px;
    }

    &.verticalBorder {
        background-position: -134px -39px;
        width: 10px;
    }

    &.longVerticalBorder {
        background-position: -134px -39px;
        width: 10px;
        height: 32px;
    }

    &.tileH {
        background-position: 0 -39px;
    }

    &.tileH.pressed {
        background-position: 0 -23px;
    }

    &.tile0 {
        background-position: 0 -23px;
    }

    &.tile1 {
        background-position: -16px -23px;
    }

    &.tile2 {
        background-position: -32px -23px;
    }

    &.tile3 {
        background-position: -48px -23px;
    }

    &.tile4 {
        background-position: -64px -23px;
    }

    &.tile5 {
        background-position: -80px -23px;
    }

    &.tile6 {
        background-position: -96px -23px;
    }

    &.tile7 {
        background-position: -112px -23px;
    }

    &.tile8 {
        background-position: -128px -23px;
    }

    &.tileM {
        background-position: -64px -39px;
    }

    &.tileMCross {
        background-position: -48px -39px;
    }

    &.tileMWrong {
        background-position: -32px -39px;
    }

    &.tileF {
        background-position: -16px -39px;
    }

    &.counter0 {
        background-position: 0 0;
    }

    &.counter1 {
        background-position: -13px 0;
    }

    &.counter2 {
        background-position: -26px 0;
    }

    &.counter3 {
        background-position: -39px 0;
    }

    &.counter4 {
        background-position: -52px 0;
    }

    &.counter5 {
        background-position: -65px 0;
    }

    &.counter6 {
        background-position: -78px 0;
    }

    &.counter7 {
        background-position: -91px 0;
    }

    &.counter8 {
        background-position: -104px 0;
    }

    &.counter9 {
        background-position: -117px 0;
    }

    &.counter- {
        background-position: -130px 0;
    }

    &.masterButton {
        background-position: 0 -55px;
        height: 26px;
        width: 26px;
    }

    &.masterButtonPressed {
        background-position: -26px -55px;
        height: 26px;
        width: 26px;
    }

    &.masterButtonO {
        background-position: -52px -55px;
        height: 26px;
        width: 26px;
    }

    &.masterButtonLose {
        background-position: -78px -55px;
        height: 26px;
        width: 26px;
    }

    &.masterButtonWin {
        background-position: -104px -55px;
        height: 26px;
        width: 26px;
    }
}

.mineContainer1,
.timeContainer1 {
    float: left;
    margin: 4px 6px;
}

.mineContainer1 div,
.timeContainer1 div {
    width: 13px;
    height: 24px;
}

.gameSprite2 {
    float: left;
    background-image: var(--nepSweeper-sprite-sheet);
    margin: 0;
    line-height: 0;
    font-size: 0;
    width: 32px;
    height: 32px;

    &.topLeftCornerBorder {
        background-position: 0 -162px;
        width: 20px;
        height: 20px;
    }

    &.topRightCornerBorder {
        background-position: -20px -162px;
        width: 20px;
        height: 20px;
    }

    &.bottomLeftCornerBorder {
        background-position: -40px -162px;
        width: 20px;
        height: 20px;
    }

    &.bottomRightCornerBorder {
        background-position: -60px -162px;
        width: 20px;
        height: 20px;
    }

    &.leftConnectionBorder {
        background-position: -132px -162px;
        width: 20px;
        height: 20px;
    }

    &.rightConnectionBorder {
        background-position: -112px -162px;
        width: 20px;
        height: 20px;
    }

    &.horizontalBorder {
        background-position: -80px -162px;
        height: 20px;
    }

    &.verticalBorder {
        background-position: -268px -78px;
        width: 20px;
    }

    &.longVerticalBorder {
        background-position: -268px -78px;
        width: 20px;
        height: 64px;
    }

    &.tileH {
        background-position: 0 -78px;
    }

    &.tileH.pressed {
        background-position: 0 -46px;
    }

    &.tile0 {
        background-position: 0 -46px;
    }

    &.tile1 {
        background-position: -32px -46px;
    }

    &.tile2 {
        background-position: -64px -46px;
    }

    &.tile3 {
        background-position: -96px -46px;
    }

    &.tile4 {
        background-position: -128px -46px;
    }

    &.tile5 {
        background-position: -160px -46px;
    }

    &.tile6 {
        background-position: -192px -46px;
    }

    &.tile7 {
        background-position: -224px -46px;
    }

    &.tile8 {
        background-position: -256px -46px;
    }

    &.tileM {
        background-position: -128px -78px;
    }

    &.tileMCross {
        background-position: -97px -78px;
    }

    &.tileMWrong {
        background-position: -64px -78px;
    }

    &.tileF {
        background-position: -32px -78px;
    }

    &.counter0 {
        background-position: 0 0;
    }

    &.counter1 {
        background-position: -26px 0;
    }

    &.counter2 {
        background-position: -52px 0;
    }

    &.counter3 {
        background-position: -78px 0;
    }

    &.counter4 {
        background-position: -104px 0;
    }

    &.counter5 {
        background-position: -130px 0;
    }

    &.counter6 {
        background-position: -156px 0;
    }

    &.counter7 {
        background-position: -182px 0;
    }

    &.counter8 {
        background-position: -208px 0;
    }

    &.counter9 {
        background-position: -234px 0;
    }

    &.counter- {
        background-position: -260px 0;
    }

    &.masterButton {
        background-position: 0 -110px;
        height: 52px;
        width: 52px;
    }

    &.masterButtonPressed {
        background-position: -52px -110px;
        height: 52px;
        width: 52px;
    }

    &.masterButtonO {
        background-position: -104px -110px;
        height: 52px;
        width: 52px;
    }

    &.masterButtonLose {
        background-position: -156px -110px;
        height: 52px;
        width: 52px;
    }

    &.masterButtonWin {
        background-position: -208px -110px;
        height: 52px;
        width: 52px;
    }
}

.mineContainer2,
.timeContainer2 {
    float: left;
    margin: 8px 12px;
}

.mineContainer2 div,
.timeContainer2 div {
    width: 26px;
    height: 46px;
}
