@import './nepSchedule.css';

#nepApp::before {
    background-image: url(/assets/images/site/background.webp);
    filter: blur(5px);
    transform: scale(1.05);
}

#nep-eyeWrapper {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    overflow: hidden;
    pointer-events: none;

    & #nep-eye {
        width: 100%;
        min-height: 110px;
        object-fit: none;
        object-position: top center;
        pointer-events: none;
    }
}

#nep-siteWrapper {
    padding-top: 84px;

    &::before {
        content: '';
        position: fixed;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        z-index: 1000;
        border-image-source: url(/assets/images/site/frameJustTop.webp);
        border-image-slice: 65 0 0 0;
        border-image-width: 65px 0 0 0;
        border-image-repeat: repeat;
        border-style: solid;
        pointer-events: none;
    }
}

@media screen and (min-width: 920px) and (min-height: 780px) {
    #nep-siteWrapper {
        padding: 57px 84px;

        &::before {
            border-image-source: url(/assets/images/site/frameNoTopDecor.webp);
            border-image-slice: 321 321 106 325;
            border-image-width: 321px 321px 106px 325px;
        }

        &:not(:has(#nepTwitch-embed)):not(:has(#nepSweeper-gameWrapper)):not(
                :has(.nepSchedule-streamWrapper:nth-of-type(9))
            )::after {
            content: '';
            position: fixed;
            right: -130px;
            bottom: -130px;
            z-index: 1002;
            background-image: url(/assets/images/site/sunflower.webp);
            width: 422px;
            height: 415px;
            pointer-events: none;
            user-select: none;
        }
    }
}

@media screen and (min-width: 1420px) and (min-height: 780px) {
    #nep-siteWrapper::before {
        border-image-source: url(/assets/images/site/frame.webp);
    }
}
