.nepSchedule-nepDisplayWrapper {
    & .nepSchedule-nepDisplayNep {
        bottom: 0;
        right: 0;

        & img {
            right: 5vw;

            &.nepSchedule-leaving {
                bottom: min(-50vh, -600px);
            }
        }

        @media screen and (min-width: 920px) and (min-height: 780px) {
            display: block;

            & img {
                height: 60vh;
                bottom: min(2vw, 400px);
                width: auto;
            }
        }
    }

    @media screen and (min-width: 920px) and (min-height: 780px) {
        & .nepSchedule-nepDisplayTable {
            display: block;
            position: fixed;
            bottom: 0;
            right: 0;
            width: 100%;
            height: 100%;
            background-image: url(/assets/images/site/desk.webp);
            background-position: bottom 2vh right -15vw;
            background-repeat: no-repeat;
            background-size: max(55vw, 1100px);
            z-index: 1;
        }
    }
}

@media screen and (min-width: 920px) and (min-height: 780px) {
    .nepSchedule-nepPullUpDrawerWrapper {
        bottom: 65px;
    }
}

@media screen and (min-width: 2000px) and (min-height: 780px) {
    .nepSchedule-scheduleWrapper {
        max-width: 60vw;
    }
}
