.nepSchedule-weekSwitcherWrapper {
    user-select: none;
}

.nepSchedule-weekSwitcherArrow {
    cursor: pointer;
}

.nepSchedule-weekSwitcherArrow-disabled {
    display: none;
}

.nepSchedule-weekSwitcherToday {
    cursor: pointer;
}