:root {
    --checker-background-height: 100px;
    --checker-background-width: 100px;
}

@-webkit-keyframes checker-bg-scrolling {
    0% {
        background-position: var(--checker-background-width) var(--checker-background-height);
    }
}
@-moz-keyframes checker-bg-scrolling {
    0% {
        background-position: var(--checker-background-width) var(--checker-background-height);
    }
}
@-o-keyframes checker-bg-scrolling {
    0% {
        background-position: var(--checker-background-width) var(--checker-background-height);
    }
}
@keyframes checker-bg-scrolling {
    0% {
        background-position: var(--checker-background-width) var(--checker-background-height);
    }
}

#nep-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 57px 84px 57px 84px;
    height: 100%;
    width: 133.33333333vh;
    min-width: 100%;
    min-height: 75vw;
}

#nep-eyeWrapper {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1001;
    overflow: hidden;
    pointer-events: none;
}

#nep-eye {
    width: 100%;
    min-height: 110px;
    object-fit: none;
    object-position: top center;
    pointer-events: none;
}

.nepSchedule-weekSwitcherWrapper {
    user-select: none;
}

.nepSchedule-weekSwitcherArrow {
    cursor: pointer;
}

.nepSchedule-weekSwitcherToday {
    cursor: pointer;
}

.checker-background {
    background: repeating-conic-gradient(from 45deg, #1c0803 0% 25%, #461911 0% 50%);
    background-size: var(--checker-background-width) var(--checker-background-height);
    background-color: #461911;

    -webkit-animation: checker-bg-scrolling 1.2s infinite;
    -moz-animation: checker-bg-scrolling 1.2s infinite;
    -o-animation: checker-bg-scrolling 1.2s infinite;
    animation: checker-bg-scrolling 1.2s infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}

#contentWrapper {
    padding-top: 84px;
}

#contentWrapper::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    border-image-source: url(/assets/images/site/frameJustTop.webp);
    border-image-slice: 65 0 0 0;
    border-image-width: 65px 0 0 0;
    border-image-repeat: repeat;
    border-style: solid;
    pointer-events: none;
}

@media screen and (min-width: 780px) and (min-height: 780px) {
    #contentWrapper {
        padding: 57px 84px;
        overflow: hidden;
    }

    #contentWrapper::before {
        border-image-source: url(/assets/images/site/frameNoTopDecor.webp);
        border-image-slice: 321 321 106 325;
        border-image-width: 321px 321px 106px 325px;
    }

    #contentWrapper::after {
        content: '';
        position: fixed;
        right: -130px;
        bottom: -130px;
        z-index: 1001;
        background-image: url(/assets/images/site/sunflower.webp);
        width: 422px;
        height: 415px;
    }
}

@media screen and (min-width: 1420px) and (min-height: 780px) {
    #contentWrapper::before {
        border-image-source: url(/assets/images/site/frame.webp);
    }
}
