:root {
    --checker-background-height: 100px;
    --checker-background-width: 100px;
}

@-webkit-keyframes checker-bg-scrolling {
    0% {
        background-position: var(--checker-background-width) var(--checker-background-height);
    }
}
@-moz-keyframes checker-bg-scrolling {
    0% {
        background-position: var(--checker-background-width) var(--checker-background-height);
    }
}
@-o-keyframes checker-bg-scrolling {
    0% {
        background-position: var(--checker-background-width) var(--checker-background-height);
    }
}
@keyframes checker-bg-scrolling {
    0% {
        background-position: var(--checker-background-width) var(--checker-background-height);
    }
}

.nepSchedule-weekSwitcherWrapper {
    user-select: none;
}

.nepSchedule-weekSwitcherArrow {
    cursor: pointer;
}

.nepSchedule-weekSwitcherArrow-disabled {
    display: none;
}

.nepSchedule-weekSwitcherToday {
    cursor: pointer;
}

#nepSchedule {
    padding: 57px 84px 57px 84px;
}

#nepSchedule::before {
    content: '';
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    border-image-source: url(/assets/images/site/frame.webp);
    border-image-slice: 321 321 106 325;
    border-image-width: 321px 321px 106px 325px;
    border-image-repeat: round;
    border-width: 84px;
    border-style: solid;
}

#nepSchedule::after {
    content: '';
    position: fixed;
    right: -130px;
    bottom: -130px;
    z-index: 1001;
    background-image: url(/assets/images/site/sunflower.webp);
    width: 422px;
    height: 415px;
}

#nepSchedule-background {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    padding: 57px 84px 57px 84px;
    height: 100%;
    width: 133.33333333vh;
    min-width: 100%;
    min-height: 75vw;
}

.checker-background {
    background: repeating-conic-gradient(from 45deg, #1c0803 0% 25%, #461911 0% 50%);
    background-size: var(--checker-background-width) var(--checker-background-height);
    background-color: #461911;

    -webkit-animation: checker-bg-scrolling 1.2s infinite; /* Safari 4+ */
    -moz-animation: checker-bg-scrolling 1.2s infinite; /* Fx 5+ */
    -o-animation: checker-bg-scrolling 1.2s infinite; /* Opera 12+ */
    animation: checker-bg-scrolling 1.2s infinite; /* IE 10+ */
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
    -o-animation-timing-function: linear;
    animation-timing-function: linear;
}
